.about {
    width: 80%;
    height: auto;
    color: black;
    font-weight: 600;
    font-size: 24px;
    margin: 0 auto;
    border: 0.5px solid black;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 10px;
}