html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d29yayUyMGRlc2t8ZW58MHx8MHx8fDA%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* CRITICAL: Şəkil scroll zamanı sabit qalır */
  min-height: 100vh;
}

/* Mobil cihazlar üçün alternativ (iOS Safari-də fixed çalışmırsa) */
@media (max-width: 768px) {
  body {
    background-attachment: scroll; /* Mobil üçün scroll */
    background-size: cover;
    background-position: center top;
  }
  
  /* iOS Safari üçün fix */
  body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d29yayUyMGRlc2t8ZW58MHx8MHx8fDA%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}